@{

	ViewBag.Title = "Home Page";

}



<head>

	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>bachilleratos 2</title>

	<link rel="stylesheet" href="css/font-awesome.min.css">

	<link rel="stylesheet" href="css/normalize.css">

	<link rel="stylesheet" href="css/bootstrap.min.css">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>

	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="css/style.css">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	<script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>

	<script src="js/modernizr.js"></script>

	<script src="js/bootstrap.min.js"></script>

	<script src="js/main.js"></script>

</head>
